body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../10.Imagenes/fondo_taller.jpg');
    background-size: cover;
    color: white;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: lighter;
}

.registro {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.formulario {
    background-color: rgba(0, 0, 0, 0.9); 
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 45%;
}

.formulario h2 {
    margin-top: 0;
    font-size: 24px;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9); 
}

button {
    background: linear-gradient(90deg, rgba(73,0,97,1) 0%, rgba(139,0,163,1) 50%, rgba(255,0,241,1) 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, rgba(45,0,59,1) 0%, rgba(92,0,107,1) 50%, rgba(157,0,148,1) 100%);
}